// Node field: The "Attachments" field
// -----------------------------------------------------------------------------

.roundearth-content-page__field-roundearth-media-uploads,
.roundearth-news__field-roundearth-media-uploads {
  > .field__items {
    margin: .5em;

    > .field__item {
      display: list-item;
      margin-left: 1.3em;

      div {
        display: inline;
      }
    }
  }
}

