{#
/**
 * @file
 * Template for event program.
 */
#}
<tr>
  <td class="col-xs-4 col-sm-2">
    {% if content.field_roundearth_events_day %}
      <h3 class="mt-0">{{ content.field_roundearth_events_day[0] }}</h3>
    {% endif %}

    {{ content.field_roundearth_events_time }}
  </td>
  <td class="col-xs-8 col-sm-10">
    <div class="col-md-6">
      {% if content.field_roundearth_events_title %}
        <h4>{{ content.field_roundearth_events_title[0] }}</h4>
      {% endif %}

      {{ content.field_roundearth_events_body }}

      {{ content.field_roundearth_events_resource }}
    </div>

    <div class="col-md-6">
      {% if paragraph.field_roundearth_events_spkcon.value %}
        <span class="badge mt-1">{{ "To be confirmed"|t }}</span>
      {% endif %}

      {% if content.field_roundearth_events_speakers %}
        {{ content.field_roundearth_events_speakers }}
      {% endif %}
    </div>
  </td>
</tr>
