// Teaser
// -----------------------------------------------------------------------------
.roundearth-news--teaser {

  .roundearth-news__field-roundearth-media-featured {
    img {
      width: 100%;
      margin-bottom: .5em;
    }
  }

  h4 {
    margin-top: 0;
  }

  .roundearth-news {

    &__body {
      margin-bottom: .5em;

      p {

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Full
// -----------------------------------------------------------------------------
.roundearth-news--full {

  .roundearth-news {

    &__body {
      margin-top: 1em;
    }
  }
}
