// Breadcrumb
// -----------------------------------------------------------------------------
.breadcrumb {
  background-color: #fff;
  margin: 1em 0;
  padding: 8px 0;

  li {

    a,
    &:before {
      color: #777 !important;
    }
  }
}
