// Breadcrumb
// -----------------------------------------------------------------------------

.book-navigation {
  margin-top: 1em;
}

.book-navigation-links {
  list-style-type: none;
  padding: 0;

  .book-navigation-link-prev {
	display: block;
  	float: left;
  }

  .book-navigation-link-parent {
  	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  }

  .book-navigation-link-next {
  	display: block;
	float: right;
  }
}

