// Component: Info box
// -----------------------------------------------------------------------------
.info-boxes {
  display: flex;
  flex-direction: column;

  + .info-boxes {
    margin-top: 2rem;
  }

  @include breakpoint(sm) {
    flex-direction: row;
    justify-content: center;
  }
  
  > div {
    margin: 0 auto;
    width: 100%;
    
    @include breakpoint(sm) {
      margin: 0 1rem;
      width: 210px;
    }
    
    @include breakpoint(md) {
      width: 360px;
    }
    
    + div {
      margin-top: 1rem;
      
      @include breakpoint(sm) {
        margin-top: 0;
      }
    }
  }
}

.info-box {
  background-color: #fbfbfb;
  border: 1px solid $gray-light;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;

  &--full {

    @include breakpoint(md) {
      width: 100% !important;
    }
  }

  &__title {
    margin: 0 0 1rem;
    color: $brand-primary;
    padding: 0 0 1rem;
    position: relative;
    font-size: 1.2rem !important;

    &:after {
      background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(210,210,210,.65) 50%,rgba(0,0,0,0) 100%) rgba(0,0,0,0);
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
    }

    i {
      margin-right: .25rem;
      vertical-align: middle;
      font-size: 1.6rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
  }

  &__link {
    min-width: 170px;

    i {
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
  }
}
