// Component: Share links
// -----------------------------------------------------------------------------
.share-links__link {
  color: white;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  transition: 0.1s;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 0 1rem;

  i {
    font-size: 1.25rem;
  }

  &:focus,
  &:hover {
    opacity: .8;
    color: white;
    text-decoration: none;
  }

  &.twitter {
    background-color: #00aced;
  }

  &.facebook {
    background-color: #3b5998;
  }

  &.google_plus,
  &.google-plus {
    background-color: #d8433a;
  }

  &.linkedin {
    background-color: #0085AE;
  }

  &.ical {
    background-color: #f1434c;
  }

  &.link {
    background-color: $brand-primary;
  }

  &.map {
    background-color: $brand-primary;
  }
}

.share-links {
  background-color: #fbfbfb;
  border: 1px solid $gray-light;
  overflow: hidden;
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;

  .share-links__link {
    width: 2.5rem;
    padding: 0;
    line-height: 2.8rem;

    &.link {
      width: auto;
      padding: 0 1rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(sm) {
      flex-direction: row;
      justify-content: space-between;
      height: 2.5rem;
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;

      + ul {
        margin-top: 1rem;

        @include breakpoint(sm) {
          margin-top: 0;
        }
      }

      li {
        list-style: none;

        + li {
          margin-left: .25rem;
        }
      }
    }
  }

  &__form {
    padding: 15px;
    border: 1px solid $gray-light;
    margin-top: 1rem;

    p {
      margin: 0;
    }

    input {
      width: 100%;
      padding: 1rem;
      border: 1px solid $gray-light;
      margin-top: .5rem;
      font-size: 1rem;
      border-radius: 0;

      &:first-child {
        margin-top: 0;
      }

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }
}

