// Component: Feedback.
// -----------------------------------------------------------------------------
.feedbacks {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
    justify-content: center;
  }

  > div {
    margin: 0 auto;
    width: 100%;

    @include breakpoint(md) {
      margin: 0 1rem;
    }

    @include breakpoint(sm) {
      width: 360px;
    }

    + div {
      margin-top: 1rem;

      @include breakpoint(md) {
        margin-top: 0;
      }
    }
  }
}

.feedback {
  background-color: white;
  border: 1px solid $gray-light;
  padding: 30px 60px;
  position: relative;
  margin: 0 auto;

  &:before,
  &:after {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 1.5rem;
    color: $brand-primary;
  }

  &:before {
    content: '\f10d';
    top: 15px;
    left: 15px;
  }

  &:after {
    content: '\f10e';
    right: 15px;
    bottom: 15px;
  }
}
