{#
/**
 * @file
 * Template for the Recent news block.
 */
#}
{%
set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|clean_class,
]
%}
<div{{ attributes.addClass(classes)|without('id') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block__title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div class="block__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
