// Block
// -----------------------------------------------------------------------------
.block {

  h2 {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: -.025em;
    margin-bottom: .5em;
  }
}
